@charset "UTF-8";
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
}

.global_footer {
  padding-bottom: 24px;
  text-align: center;
}

.global_footer__copyright {
  font-size: 12px;
  font-family: NotoSansJP-Regular, "游ゴシック体", "Yu Gothic", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: normal;
  color: #808080;
}

.global_footer__copyright span {
  vertical-align: middle;
  color: #000;
  margin-right: 4px;
}

.global_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 34px 94px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

.global_header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.global_header__wrapper__title {
  margin-right: auto;
}

.global_header__wrapper__title a h1 {
  font-family: Oradano-mincho-GSRR, "游明朝体", "Yu Mincho", "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Hiragino Mincho ProN", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #2d2d2d;
}

.global_header__wrapper__pagelinks {
  margin-right: 54px;
}

.global_header__wrapper__pagelinks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.global_header__wrapper__pagelinks__list__item {
  list-style: none;
}

.global_header__wrapper__pagelinks__list__item:not(:last-child) a {
  margin-right: 35px;
}

.global_header__wrapper__pagelinks__list__item a {
  font-family: Oradano-mincho-GSRR, "游明朝体", "Yu Mincho", "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Hiragino Mincho ProN", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: normal;
  font-size: 16px;
  color: #2d2d2d;
  text-decoration: none;
}

.global_header__wrapper__sns-icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.global_header__wrapper__sns-icons__list__item {
  width: 36px;
  height: 36px;
}

.global_header__wrapper__sns-icons__list__item:not(:last-child) {
  margin-right: 19px;
}

.global_header__wrapper__sns-icons__list__item a {
  background-color: #000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global_header__wrapper__sns-icons__list__item:nth-of-type(1) a, .global_header__wrapper__sns-icons__list__item:nth-of-type(2) a, .global_header__wrapper__sns-icons__list__item:nth-of-type(3) a {
  background-color: #fff;
}

.global_header__wrapper__sns-icons__list__item:nth-of-type(1) a img, .global_header__wrapper__sns-icons__list__item:nth-of-type(2) a img, .global_header__wrapper__sns-icons__list__item:nth-of-type(3) a img {
  width: 100%;
  height: 100%;
}

.global_header__sp-wrapper {
  display: none;
}

@media screen and (max-width: 1199px) {
  .global_header {
    padding: 20px 20px 0;
  }
  .global_header__wrapper__pagelinks {
    margin-right: 20px;
  }
  .global_header__wrapper__pagelinks__list__item:not(:last-child) a {
    margin-right: 10px;
  }
  .global_header__wrapper__sns-icons__list__item:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .global_header__wrapper {
    display: none;
  }
  .global_header__sp-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10% 10% 0;
    display: block;
  }
  .global_header__sp-wrapper.is-open {
    background-color: #fff;
  }
  .global_header__sp-wrapper__toggle {
    width: 30px;
    height: 20px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .global_header__sp-wrapper__toggle span {
    background-color: #000;
    height: 1px;
    width: 100%;
  }
  .global_header__sp-wrapper__menus {
    padding-top: 40px;
    display: none;
  }
  .global_header__sp-wrapper__menus.is-open {
    display: block;
    height: 100vh;
    background-color: #fff;
  }
  .global_header__sp-wrapper__menus__title {
    text-align: right;
  }
  .global_header__sp-wrapper__menus__title a h1 {
    font-family: Oradano-mincho-GSRR, "游明朝体", "Yu Mincho", "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Hiragino Mincho ProN", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 0.2em;
    color: #2d2d2d;
    margin-bottom: 24px;
  }
  .global_header__sp-wrapper__menus__pagelinks__list__item {
    list-style: none;
    margin-bottom: 42px;
    text-align: right;
  }
  .global_header__sp-wrapper__menus__pagelinks__list__item a {
    font-family: Oradano-mincho-GSRR, "游明朝体", "Yu Mincho", "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Hiragino Mincho ProN", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-size: 22px;
    color: #2d2d2d;
    text-decoration: none;
  }
  .global_header__sp-wrapper__menus__sns-icons__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .global_header__sp-wrapper__menus__sns-icons__list__item {
    width: 36px;
    height: 36px;
  }
  .global_header__sp-wrapper__menus__sns-icons__list__item a {
    background-color: #000;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .global_header__sp-wrapper__menus__sns-icons__list__item:nth-of-type(1) a, .global_header__sp-wrapper__menus__sns-icons__list__item:nth-of-type(2) a, .global_header__sp-wrapper__menus__sns-icons__list__item:nth-of-type(3) a {
    background-color: #fff;
  }
  .global_header__sp-wrapper__menus__sns-icons__list__item:nth-of-type(1) a img, .global_header__sp-wrapper__menus__sns-icons__list__item:nth-of-type(2) a img, .global_header__sp-wrapper__menus__sns-icons__list__item:nth-of-type(3) a img {
    width: 100%;
    height: 100%;
  }
}
